header {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6); /* Hafif siyah arka plan */
  border-radius: 15px; /* Yuvarlak köşeler */
  color: white; /* Beyaz yazı rengi */
  box-shadow: 0 4px 10px rgba(44, 44, 44, 0.3); /* Gölge efekti */
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

header p {
  font-size: 1.2rem;
  margin: 0;
}
